{:deps true
 :dev-http {8700 "public"}
 :nrepl {:port 62000
         :middleware []}
 :builds {:app
          {:target :browser
           :modules {:main {:entries [app.core]
                            :init-fn app.core/init}}
           :devtools {:preloads [uix.preload devtools.preload]}}}}
